.page.theme_dark {
  --title-decor: #FF0070;
  --bg-color: #000028;
  --menu-color:#FF0070;
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --section-title-color: #FF0070;
  --article-title-color: #000028;
  --font-color: #F1B2CE;
  --btn-hover-color: #ff007060;
  --rec-decor-display: flex;
  background-image: url(../images/cover-image-dark.png);
}
