.page.theme_light {
  --title-decor: #FF8DCB;
  --bg-color: #FF8DCB;
  --menu-color:#353430;
  --accent-color: #FF0070;
  --header-title-color: #FFC2E6;
  --section-title-color: #353430;
  --article-title-color: #353430;
  --font-color: #353430;
  --btn-hover-color: #35343060;
  --rec-decor-display: none;
  background-image: url(../images/cover-image-light.png);
}


@media (prefers-color-scheme: light) {
  :root {
    --title-decor: #FF8DCB;
    --bg-color: #FF8DCB;
    --menu-color:#353430;
    --accent-color: #FF0070;
    --header-title-color: #FFC2E6;
    --section-title-color: #353430;
    --article-title-color: #353430;
    --font-color: #353430;
    --btn-hover-color: #35343060;
    --rec-decor-display: none;
    }
}